
/************GENERAL STYLING***************/
/*********************END OF G.S**********/


/******************NAVIGATION SECTION******************/

nav {
    position: fixed;
    width: 100%;
    top: 0;
    min-height: 50px;
    height: 70px;
    background: #fff;
    text-align: center;
}

nav li {
    display: inline-block;
    padding: 24px 10px;
}

nav li a {
    color: #757575;
    text-transform: uppercase;
}

.toggle-nav {
    display: none;
}

.nav-mobile style {
    display: block;
}

/*****************END OF NAVIGATION SECTION***********/

.mad-skillz:after {
    content: attr(data-content);
}

.small-11{
    margin-top: 10%;
    text-align: center;
}

/****************************MEDIA QUERIES************************************/

@media only screen and (max-width: 768px) {
    .nav li {
        font-size: 14px;
        float: left;
        padding-left: 0%;
        margin-left: 7%;
    }
}

@media only screen and (max-width: 640px) {
    .toggle-nav {
        display: block;
        padding: 10px;
        position: absolute;
        right: 10px;
        line-height: 30px;
    }
    .toggle-nav:after {
        content: ' Menu';
    }
    .nav-mobile {
        display: none;
    }
    .style-mobile {
        background: #ffffff;
        top: 51px;
        position: absolute;
        width: 100%;
    }
    .style-mobile li {
        display: block;
        width: 100%;
    }
    .nav {
        top: 0;
        display: block;
        float: none;
        margin: 0em;
    }
}

@media only screen and (max-width: 320px) {
    .small-11 {
        margin-top: 25%;
        text-align: center;
    }
}



